<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head><title>아이디 찾기</title></head>
<body>
<div layout:fragment="content">
    <main class="th-layout-main">
        <div class="personal-jPM46ggXUc" data-bid="YvM46gI0mn">
            <div class="contents-inner">
                <div class="contents-container container-md">
                    <div class="contents-top">
                        <div class="textset" style="margin-bottom: 30px;">
                            <h2 class="textset-tit" style="font-size: 50px;">아이디 찾기</h2>
                            <p class="textset-desc" style="text-align: center; margin-top: 10px;">
                                가입 시 등록한 이름과 이메일 주소를 입력해주세요.
                            </p>
                        </div>
                       <form th:action="@{/find-id}" method="post">
                            <div class="inputset">
                                <input type="text" id="memberName" name="memberName" class="inputset-input form-control" placeholder="이름을 입력해주세요." required>
                            </div>
                            <div class="inputset">
                                <input type="email" id="memberEmail" name="memberEmail" class="inputset-input form-control" placeholder="이메일을 입력해주세요." required>
                            </div>
                            <div class="btn-group" style="display: flex; gap: 10px; margin-top: 10px;">
                                <a th:href="@{/login}" class="btnset btnset-line" style="flex: 1; text-align: center;">로그인으로</a>
                                <button type="submit" class="btnset" style="flex: 1;">아이디 찾기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>