<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>직원_상품상세 | Miso</title>
  <script src="/static/js/cartButton.js"></script>
  <link rel="stylesheet"  href="/resources/css/setting.css">
  <link rel="stylesheet"  href="/resources/css/plugin.css">
  <link rel="stylesheet"  href="/resources/css/template.css">
  <link rel="stylesheet"  href="/resources/css/common.css">
  <link rel="stylesheet"  href="/resources/css/style.css">
    <style>
    .product-image {
      width: 600px;
      height: auto;
      object-fit: cover;
    }
  </style>
</head>

<body>
  <!-- [S]basic-N3 -->
  <div class="basic-N3" data-bid="ow11u4ESzXm">
    <div class="header-inner">
      <div class="header-container container-lg">
        <div class="header-left">
          <h1 class="header-title">
            <a href="/">
              <img  src="/resources/images/img_logo_black.png" alt="로고">
            </a>
          </h1>
          <div class="header-mobile-group">
            <div class="header-mobile-top">
              <p>로그인이 필요합니다.</p>
              <a href="javascript:void(0)">로그인</a>
            </div>
                        <ul class="header-gnblist">
              <li class="header-gnbitem">
                <a class="header-gnblink" href="/banner/brand">
                  <span>BRAND</span>
                </a>
              </li>
              <li class="header-gnbitem">
                <a class="header-gnblink" href="/goods/goodsFullList">
                  <span>PRODUCTS</span>
                </a>
              </li>
              <li class="header-gnbitem">
                <a class="header-gnblink" href="/banner/notice">
                  <span>NOTICE</span>
                </a>
              </li>
              <li class="header-gnbitem">
                <a class="header-gnblink" href="/banner/faq">
                  <span>FAQ</span>
                </a>
              </li>
          <li class="header-gnbitem">
  <a class="header-gnblink" 
     th:href="${isLoggedIn} ? @{/logout} : @{/login/item.login}">
    <span th:text="${isLoggedIn} ? 'LOGOUT' : 'LOGIN'"
          th:style="${isLoggedIn} ? 'color: red;' : ''">LOGIN</span>
  </a>
</li>

            </ul>
            <button class="header-btn btn-close">
              <img  src="/resources/icons/ico_close_white.svg" alt="닫기 아이콘">
            </button>
          </div>
        </div>
        <div class="header-right">
          <div class="header-utils">
            <button class="header-btn btn-seach">
              <img  src="/resources/icons/ico_seach_black.svg" alt="검색 아이콘">
            </button>
            <a href="/login/userIcon" class="header-btn btn-user" id="user-icon">
              <img  src="/resources/icons/ico_user_black.svg" alt="유저 아이콘">
            </a>
            <button class="header-btn btn-cart badgeset badgeset-circle badgeset-position badgeset-bottom-right">
              <img  src="/resources/icons/ico_cart_black.svg" alt="쇼핑백 아이콘">
              <span class="badgeset-text">1</span>
            </button>
            <button class="header-btn btn-allmenu">
              <img  src="/resources/icons/ico_menu2_black.svg" alt="PC메뉴 아이콘">
            </button>
            <button class="header-btn btn-momenu">
              <img  src="/resources/icons/ico_menu2_black.svg" alt="모바일메뉴 아이콘">
            </button>
            <button class="header-btn btn-close">
              <img  src="/resources/icons/ico_close_black.svg" alt="닫기 아이콘">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="header-dim"></div>
  </div>
  <!-- [E]basic-N3 -->
  <main class="th-layout-main ">
   <!-- [S]basic-N23 -->
    <div class="basic-N23" data-bid="cE2cZu89X4e" id="">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="textset">
            <img class="imageset-img"  src="/resources/images/img_basic_N23_1.png" alt="이미지" th-hoverbox="true">
            <h2 class="textset-tit">상품 상세</h2>
            <p class="textset-desc">상품에 대한 상세 정보입니다. 필요한 정보를 확인하고 상품 관리 작업을 수행할 수 있습니다.</p>
          </div>
          <!-- 상품 상세보기 테이블 추가 -->
          <table border="1" align="center" width="600">
            <caption>상품 상세보기</caption>
            <tr><th>상품번호</th><td>[[${goodsCommand.goodsNum}]]</td></tr>
            <tr><th>상품명</th><td>[[${goodsCommand.goodsName}]]</td></tr>
            <tr><th>상품가격</th><td>[[${goodsCommand.goodsPrice}]]</td></tr>
            <tr><th>상품설명</th><td><span th:utext="${#strings.replace(goodsCommand.goodsContents, '\n', '<br />')}"></span></td></tr>
            <tr><th>조회수</th><td>[[${goodsCommand.visitCount}]]</td></tr>
            <tr><th>등록한 사원</th><td>[[${goodsCommand.empNum}]]</td></tr>
            <tr><th>등록일</th><td>[[${#dates.format(goodsCommand.goodsRegist, 'yyyy-MM-dd')}]]</td></tr>
            <tr><th>마지막 수정 사원</th><td>[[${goodsCommand.updateEmpNum}]]</td></tr>
            <tr><th>마지막 수정일</th><td>[[${#dates.format(goodsCommand.goodsUpdateDate, 'yyyy-MM-dd')}]]</td></tr>
<tr>
    <td colspan="2">
        대문 이미지<br />
        <img class="product-image" th:src="@{'/upload/' + ${goodsCommand.goodsMainStoreImage}}" />
    </td>
</tr>
<tr>
    <td colspan="2">
        상세 이미지<br />
        <th:block th:each="image : ${#strings.arraySplit(goodsCommand.goodsDetailStoreImage, ',')}">
            <img class="product-image" th:src="@{'/upload/' + ${image}}" /><br />
        </th:block>
    </td>
</tr>

            <tr>
              <td colspan="2">
                <a th:href="@{goodsUpdate(goodsNum=${goodsCommand.goodsNum})}">상품 수정</a> |
                <a th:href="@{'goodsDel/'+${goodsCommand.goodsNum}}">상품 삭제</a> |
                <a href="goodsList">상품목록</a> |
                <a href="javascript:history.back();">뒤로가기</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- [E]basic-N23 -->
  </main>
  <!-- [S]basic-N4 -->
  <div class="basic-N4" data-bid="DB4JlD9e4fN">
    <div class="footer-inner">
      <div class="footer-container container-lg">
        <div class="footer-top">
          <h1 class="footer-logo">
            <a href="javascript:void(0)">
              <img  src="/resources/images/img_logo_lightgray.png" alt="로고">
            </a>
          </h1>
     <ul class="footer-menulist">
            <li class="footer-menuitem">
              <a href="javascript:void(0)">
                <span>이용약관</span>
              </a>
            </li>
            <li class="footer-menuitem">
              <a href="javascript:void(0)">
                <span>개인정보처리방침</span>
              </a>
            </li>
            <li class="footer-menuitem">
              <a href="javascript:void(0)">
                <span>국비교육</span>
              </a>
            </li>
            <li class="footer-menuitem">
              <a href="javascript:void(0)">
                <span>미니프로젝트</span>
              </a>
            </li>
          </ul>
          <ul class="footer-snslist">
            <li class="footer-snsitem">
              <a class="footer-snslink" href="javascript:void(0)">
                <img  src="/resources/icons/ico_instagram_lightgrey.svg" alt="인스타그램">
              </a>
            </li>
            <li class="footer-snsitem">
              <a class="footer-snslink" href="javascript:void(0)">
                <img  src="/resources/icons/ico_youtube_lightgrey.svg" alt="유튜브">
              </a>
            </li>
            <li class="footer-snsitem">
              <a class="footer-snslink" href="javascript:void(0)">
                <img  src="/resources/icons/ico_facebook_lightgrey.svg" alt="페이스북">
              </a>
            </li>
            <li class="footer-snsitem">
              <a class="footer-snslink" href="javascript:void(0)">
                <img  src="/resources/icons/ico_kakao_lightgrey.svg" alt="카카오톡">
              </a>
            </li>
          </ul>
        </div>
         <div class="footer-bottom">
          <div class="footer-txt">
            <p> 성결대학교 성결관 301호 </p>
            <p>
              <span>T. 010-8246-6830</span>
              <span>E. wnflqm010203@sungkyul.ac.kr</span>
            </p>
          </div>
          <div class="footer-txt">
            <p>2024 BY JeongJunGyo. ALL RIGHTS RESEVED</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [E]basic-N4 -->
  <script  src="/resources/js/setting.js"></script>
  <script  src="/resources/js/plugin.js"></script>
  <script  src="/resources/js/template.js"></script>
  <script  src="/resources/js/common.js"></script>
  <script  src="/resources/js/script.js"></script>
</body>
