<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<head>
  <title>브랜드</title>
    <th:block layout:fragment="css">
    <style>
      .basic-N39 {
        margin-top: 50px;
        margin-bottom: 80px;
      }
    </style>
  </th:block>
</head>

<div layout:fragment="content">
    <div class="basic-N39" data-bid="Zdm4HzsGXN">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="contents-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img class="contents-backimg img-pc"  src="/resources/images/img_mainvisual_03.png" alt="PC 비주얼 이미지">
                <img class="contents-backimg img-mobile"  src="/resources/images/img_mainvisual_mobile_03.png" alt="모바일 비주얼 이미지">
                <div class="contents-slide-group">
                  <div class="textset textset-visual">
                    <h2 class="textset-tit"> Welcome to <br> LapPick </h2>
                    <p class="textset-desc"> "LapPick"은 최신 기술과 개인의 취향이 만나는 곳입니다. <br> 우리는 사용자의 일상 생활에 혁신을 가져오며, 각자의 공간에서 최고의 기술을 경험할 수 있도록 돕습니다. <br> 우리의 노트북과 컴퓨팅 솔루션은 효율성과 스타일을 동시에 제공하여, 기술의 미래를 여러분의 오늘로 가져옵니다. </p>
                  </div>
                  <a class="btnset btnset-line btnset-round" href="/goods/goodsFullList">자세히보기</a>
                </div>
              </div>
              <div class="swiper-slide">
                <img class="contents-backimg img-pc"  src="/resources/images/img_mainvisual_03.png" alt="PC 비주얼 이미지">
                <img class="contents-backimg img-mobile"  src="/resources/images/img_mainvisual_mobile_03.png" alt="모바일 비주얼 이미지">
                <div class="contents-slide-group">
                  <div class="textset textset-visual">
                    <h2 class="textset-tit"> Discover <br> Your Perfect Match </h2>
                    <p class="textset-desc"> 노트북 선택에 어려움을 겪고 계신가요? LapPick은 누구나 손쉽게 이상적인 노트북을 찾을 수 있도록 돕습니다. <br> 단순히 사용 목적, 선호하는 무게, 브랜드, 화면 크기를 선택하세요. 우리의 고급 필터링 시스템이, <br> 여러분의 요구에 맞는 최적의 노트북을 제시해 드릴 것입니다. <br> 쉽고 빠르게 완벽한 노트북을 만나보세요. </p>
                  </div>
                  <a class="btnset btnset-line btnset-round" href="/goods/goodsFullList">자세히보기</a>
                </div>
              </div>
              <div class="swiper-slide">
                <img class="contents-backimg img-pc"  src="/resources/images/img_mainvisual_03.png" alt="PC 비주얼 이미지">
                <img class="contents-backimg img-mobile"  src="/resources/images/img_mainvisual_mobile_03.png" alt="모바일 비주얼 이미지">
                <div class="contents-slide-group">
                  <div class="textset textset-visual">
                    <h2 class="textset-tit"> Always <br> Here For You </h2>
                    <p class="textset-desc"> LapPick은 판매 후 지원이 우수하여 언제나 고객님의 편안한 컴퓨팅 환경을 유지할 수 있도록 돕습니다. <br> 제품 구매 후에도 다양한 지원 서비스와 유용한 팁을 제공하여, 여러분이 최대한의 만족을 누릴 수 있도록 합니다. <br> 고객 지원 팀에 언제든지 연락주시면 친절하고 전문적인 도움을 받으실 수 있습니다. </p>
                  </div>
                  <a class="btnset btnset-line btnset-round" href="/goods/goodsFullList">자세히보기</a>
                </div>
              </div>
            </div>
            <div class="contents-control">
              <div class="swiper-button-prev"></div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-pause">
                <img  src="/resources/icons/ico_pause_white.svg" alt="스와이퍼 멈춤버튼">
              </div>
              <div class="swiper-button-play">
                <img  src="/resources/icons/ico_play_white.svg" alt="스와이퍼 재생버튼">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</html>