<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<head>
  <title>직원_마이페이지</title>
</head>

<div layout:fragment="content">
    <div class="basic-N23" data-bid="AD2czU8kUI2">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="textset" style="margin-bottom: 40px;">
            <img class="imageset-img" src="/resources/images/img_basic_N23_1.png" alt="이미지">
            <h2 class="textset-tit">직원 마이페이지</h2>
            <p class="textset-desc">로그인한 직원의 정보를 확인하고 관리할 수 있습니다.</p>
          </div>
          <ul class="contents-list" style="display: flex; justify-content: center; gap: 10px;">
            <li class="contents-item"><a href="javascript:void(0);" class="btnset btnset-line btnset-round">내 정보 보기</a></li>
            <li class="contents-item"><a href="javascript:void(0);" class="btnset btnset-line btnset-round">내 정보 수정</a></li>
            <li class="contents-item"><a href="javascript:void(0);" class="btnset btnset-line btnset-round">비밀번호 변경</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>
</html>