<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
  <title>메인 페이지</title>
</head>
<body>
<div layout:fragment="content">
  <main class="th-layout-main ">
    <div class="basic-N42" data-bid="qfM47rgHSq">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="textset">
            <h2 class="textset-tit">Best Product</h2>
            <p class="textset-desc">베스트 상품을 지금 바로 만나보세요!</p>
          </div>
          <div class="swiper contents-swiper">
        <div class="swiper-wrapper">
              <th:block th:each="goods : ${goodsList}">
                <div class="swiper-slide">
                  <a th:href="@{'/goods/detail/' + ${goods.goodsNum}}" class="cardset cardset-shopping">
                    <figure class="cardset-figure">
                      <img th:src="@{'/upload/' + ${goods.goodsMainStoreImage}}" class="cardset-img" alt="상품 이미지">
                    </figure>
                    <div class="cardset-body">
                      <h2 class="cardset-tit" th:text="${goods.goodsName}">상품명</h2>
                      <p class="cardset-desc">
                        <span th:text="${#numbers.formatInteger(goods.goodsPrice, 3, 'COMMA')}">가격</span><small>원</small>
                      </p>
                    </div>
                  </a>
                  </div>
              </th:block>
            </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
    </main>
</div>
</body>
</html>