<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
  <title>로그인</title>
</head>
<body>
<div layout:fragment="content">
  <main class="th-layout-main ">
    <div class="personal-jPM46ggXUc" data-bid="YvM46gI0mn" id="">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="contents-top">
            <div class="textset">
              <h2 class="textset-tit" style="font-size: 50px;">로그인</h2>
            </div>
            <div th:if="${errorMessage}" class="error-message" style="color: red; font-weight: bold;">
              <p th:text="${errorMessage}"></p>
            </div>

            <form th:action="@{/login}" method="post">
              <input type="hidden" name="returnUrl" th:value="${param.returnUrl}">
              <div class="inputset">
                <input type="text" name="userId" class="inputset-input form-control" aria-label="아이디" placeholder="아이디를 입력해주세요." required>
              </div>
              <div class="inputset">
                <input type="password" name="userPw" class="inputset-input form-control" aria-label="비밀번호" placeholder="비밀번호를 입력해주세요." required>
              </div>
              <div class="checkset">
                <input id="checkset-a-1-1" class="checkset-input input-fill" type="checkbox" name="idStore">
                <label class="checkset-label" for="checkset-a-1-1"></label>
                <span class="checkset-text">아이디 저장</span>
                &nbsp;&nbsp;&nbsp;
                <input id="checkset-a-1-2" class="checkset-input input-fill" type="checkbox" name="autoLogin">
                <label class="checkset-label" for="checkset-a-1-2"></label>
                <span class="checkset-text">자동 로그인</span>
              </div>
              <th:block th:if="${_csrf != null}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
              </th:block>
              <div th:if="${param.error}" style="color: red; margin-top: 10px;">
                아이디 또는 비밀번호가 올바르지 않습니다.
              </div>
              <button type="submit" class="btnset">로그인</button>
              <div th:if="${errorMessage}" class="text-danger" th:text="${errorMessage}"></div>
            </form>
            <ul class="contents-list">
              <li class="contents-item"><a href="#">아이디 찾기</a></li>
              <li class="contents-item"><a href="#">비밀번호 찾기</a></li>
              <li class="contents-item"><a href="/register/userWrite">회원가입</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
  </div>

<th:block layout:fragment="script">
  <span id="flash-msg" th:if="${flashMsg}" th:text="${flashMsg}" style="display:none"></span>
  <script th:if="${message}" th:inline="javascript">
    /*<![CDATA[*/
    alert([[${message}]]);
    /*]]>*/
  </script>
  <script>
    (function(){
      var el = document.getElementById('flash-msg');
      if (el) { alert(el.textContent); el.remove(); }
    })();
  </script>
</th:block>

</body>
</html>